
body{
    width: 300px;
    height: 320px;
    border: 2px solid #066979;
    /* background-color: #225663; */
    background-image: url('./bg.jpg');
    display: flex;
    justify-content: center;
    border-radius: 8px;
}
.container {
    text-align: center;
    margin-top: 10px;
}
table{
    margin: auto;
}
input{
    font-size: 23px;
    width: auto;
    border: 1px #204146 solid;
    background-color: white;
    color: rgb(0, 0, 0);
    border-radius: 7px;
}
button{
    font-size: 25px;
    background-color: #00144e;
    width: 63px;
    height: 43px;
    margin: 2px;
    border-radius: 11px;
    margin-top: 3px;
    color: #e8eaed;
    cursor: pointer;
}
.blue{
    background-color: #2337ad;
}
.light_gray{
    background-color: #033f7a;
}
.button::after{
    background-color: #FDC094;

}